NEXT_PUBLIC_OPENSOULS_ORG_ID="your-github-id-here"
NEXT_PUBLIC_OPENSOULS_TOKEN="your-soul-token-here"

NEXT_PUBLIC_OPENSOULS_BLUEPRINT="kathor"
NEXT_PUBLIC_USER_AVATAR="https://api.dicebear.com/8.x/notionists-neutral/svg?backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"


NEXT_PUBLIC_ELEVEN_LABS_API_KEY="your-eleven-labs-api-key-here"

NEXT_PUBLIC_ELEVEN_LABS_VOICE_ID="IKne3meq5aSn9XLyUdCD"
NEXT_PUBLIC_ELEVEN_LABS_MODEL_ID="eleven_turbo_v2"
